.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-label {
    font-size: 15px;
    font-weight: 600;
    color: #f3f4f6;
}

.input-wrapper {
    position: relative;
}

.input-field {
    width: 100%;
    height: 46px;

    padding: 0 18px;

    border-radius: 12px;

    border: 1px solid rgba(255,255,255,.10);

    background: #1a1a1d;

    color: white;

    font-size: 16px;

    transition: .25s;
}

.password-input {
    padding-right: 52px;
}

.input-field:focus {
    outline: none;

    border-color: #9333ea;

    box-shadow: 0 0 0 4px rgba(147,51,234,.15);
}

.input-field::placeholder {
    color: #71717a;
}

.input-right {
    position: absolute;

    right: 16px;
    top: 50%;

    transform: translateY(-50%);
}

.input-error {
    color: #ef4444;
    font-size: 13px;
}

.show-password-btn {
    position: absolute;

    right: 14px;
    top: 50%;

    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background: transparent;
    border: none;

    color: #9ca3af;

    cursor: pointer;

    transition:
    border-color .25s,
    box-shadow .25s,
    color .25s;
}

.show-password-btn:hover {
    color: #facc15;
}